<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/script.js" defer></script>
    <title>Pizza Di Mario</title>
</head>

<body>
    <div class="index-navigation">
        <ul class="index-navbar">
            <img class="navbar-logo" src="https://img.icons8.com/office/344/pizza.png" alt="Pizza logo">
            <li class="navbar-buttons"><a href="/">Home</a></li>
            <li class="navbar-buttons"><a href="/pizza/list">Menu</a></li>
            <li class="navbar-buttons"><a href="/myorder">My order</a></li>
        </ul>
    </div>
    <div class="index-textbox-container">
        <div class="index-textbox">
            <h1 class="index-textbox-header">Welcome to Pizza Di Mario</h1>
            <p class="index-textbox-paragraph">"Mamma mia! Lórum ipse egy dalmas apka a túl kevés és a túl sok között. Az ércének tehát rendszeresen kell molitálnia facsika nökségökben kedhetleges akasítást, hiszen a podás diását, tatlakos szikszemet ez esztőzi. A cselő, a bérződés és a kack sedik élvező nezeliben bariné nökségöt, míg a zalangos gyatos amozásból, lagánságokból takros sodosítások és a hasták gódnak az egyes hatos gida nökség ércébe harázsáról."</p>
        </div>
    </div>
    <div class="index-bgrnd">
        <img id="index-bgrnd-img" src="/bgrnd_img.jpg">
    </div>
</body>

</html>